{% extends "base.html" %}
{% block content %}
<h3>📖 Issue a Book</h3>

<div class="issue-form">
    <form method="POST" class="card">
        <label>📘 Select Book:</label>
        <select name="serial" required>
            {% for book in books %}
                <option value="{{ book['serial'] }}">{{ book["name"] }} ({{ book["serial"] }})</option>
            {% endfor %}
        </select>

        <label>👤 Your Name:</label>
        <input type="text" name="issued_to" required placeholder="Enter your name">

        <button type="submit">Issue Book</button>
    </form>
</div>
{% endblock %}
