{% extends "base.html" %}
{% block content %}
<h3>Issued Books</h3>

<table>
    <thead>
        <tr>
            <th>Serial</th>
            <th>Name</th>
            <th>Author</th>
            <th>Taken By</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book["serial"] }}</td>
            <td>{{ book["name"] }}</td>
            <td>{{ book["author"] }}</td>
            <td>{{ book["taken_by"] }}</td>
            <td>
                <form method="POST" action="{{ url_for('return_book', book_id=book['id']) }}">
                    <button type="submit" class="action-btn">Return</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
